* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    height: 100vh;
    background: #7f7fc7;
}
.container {
    width: 85%;
    margin: auto;
}
.form {
    width: 100%; 
    padding-top: 70px;
}
.form .inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form input[type="text"] {
    width: 32%;
    border: none;
    outline: none;
    padding: 10px 7px;
    border-radius: 5px;
    background: rgb(229, 229, 229);
}
::placeholder {
    color: rgb(81, 81, 81);
}
.form .btn-cont {
    display: grid;
    place-items: center;
}
.form button {
    padding: 7px 0;
    width: 150px;
    margin-top: 25px;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    outline: none;
    background: #000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
.form button:hover {
    background: #2f2f2f;
}

ul {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}
li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 7px;
    font-weight: 500;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
    background: white;
}
li:first-of-type {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 15px 0;
    background: #ccc;
}
li span {
    width: 100%;
    text-align: center;
}