* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    background: #009a85;
    position: relative;
}
.circle {
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%);
}